<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>名古屋大学 学生LT</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body class="container">

  <div class="center-align">
    <h1>イベント情報掲載ページ</h1>
    <h2>ログインユーザ：{{.SessionInfo.Name}}, ログインID：{{.SessionInfo.UserID}}</h2>
    <a href="/logout">ログアウト</a>
  </div>

  <div>
    <form class="col s12" method="get" action="/search">
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="words">{{.searchWords.words}}</textarea>
          <label for="textarea1" name="search-word">検索ワード (例：プログラミング コンピュータ Python)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" class="datepicker" name="scheduledDateFrom" value={{.searchWords.scheduledDateFrom}}>
          <label for="input_text">開催日時 (from)</label>
        </div>
      </div>
      から
      <div class="row">
        <div class="input-field col s4">
          <input type="text" class="datepicker" name="scheduledDateTo" value={{.searchWords.scheduledDateTo}}>
          <label for="input_text">開催日時 (to)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input type="number" name="priceFrom" value={{.searchWords.priceFrom}}>
          <label for="input_text">値段 (from)</label>
        </div>
      </div>
      から
      <div class="row">
        <div class="input-field col s4">
          <input type="number" name="priceTo" value={{.searchWords.priceTo}}>
          <label for="input_text">値段 (to)</label>
        </div>
      </div>

      <div class="center-align">
        <button class="btn btn-primary btn-lg" type="submit">検索</button>
      </div>

      <div class="center-align">
        <a href="/" class="btn btn-success btn-lg" style="margin-top: 3em;">検索項目を初期化する</a>
      </div>

    </form>
  </div>

  <div class="row">
    {{ range .items }}
      <div class="col s12 m6 l4">
        <div class="card" style="background: rgba(250, 221, 142, 0.883); width: 90%; margin: 0 auto; margin-top: 3em;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/img/no_image.png">
          </div>
          <div class="card-content" style="height: 15em;">
            <span class="card-title activator grey-text text-darken-4">{{ .Title }}<i
                class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ .Title }}<i class="material-icons right">close</i></span>
            <p>{{ .Description }}<p>
            <p>参加費：{{ .Price }}円<p>
            <p>最大参加人数：{{ .MaxParticipants }}人<p>
            <p>現在参加予定人数：{{ .NumParticipants }}人<p>
            <p>開催予定日時：{{ .ScheduledDateYear }}年{{ .ScheduledDateMonth }}月{{ .ScheduledDateDay }}日  {{ .ScheduledDateHour }}時{{ .ScheduledDateMinute }}分<p>
            <p>開催終了日時：{{ .ScheduledDateEndYear }}年{{ .ScheduledDateEndMonth }}月{{ .ScheduledDateEndDay }}日  {{ .ScheduledDateEndHour }}時{{ .ScheduledDateEndMinute }}分<p>
            <p>申し込み締切日時：{{ .DeadlineDateYear }}年{{ .DeadlineDateMonth }}月{{ .DeadlineDateDay }}日  {{ .DeadlineDateHour }}時{{ .DeadlineDateMinute }}分<p>
            <p>持ち物リスト：{{ .Belongings }}<p>
            <p>参加対象：{{ .Target }}<p>
            <p>その他：{{ .Other }}<p>
            <a href="/detail?id={{.ID}}">詳細をみる</a></p>
            </p>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

<style>
  body {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  }
</style>

<script>
  // Using with jQuery
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    });
  });

  $(document).ready(function () {
    $('.timepicker').timepicker({
      twelveHour: false, // change to 12 hour AM/PM clock from 24 hour
    });
  });
</script>